input[type="text"] {
  font-family: Archivo;
  font-size: 13px;
}

h1 {
  margin-top: 2.4rem;
  font-size: 35px;
  font-family: Archivo !important;
}

#root>div>div>div>div>div:nth-child(1)>div>p {
  text-align: justify;
  padding: 30px;
  margin-top: 1rem;
  font-family: Poppins;
  font-size: 1rem;
}

.video-choose {
  margin-top: 2.4rem;
}

.video-choose h4 {
  font: 700 20px Archivo;
  margin-top: 1rem;
}

.video-choose>p {
  font-size: 0.7rem;
  font-family: Poppins;
}

.video-choose p+p {
  font-size: 1rem;
}

.text-muted {
  font-family: Poppins;
}

.video-item {
  max-width: 250px;
  height: 215px;
  background: #FFFFFF;
  border: 1px solid #E6E6F0;
  border-radius: 0.6rem;
  margin-top: 2.4rem;
  margin-right: 10px;
  overflow: hidden;
}

.video-item {
  float: left;
}

.video-item header {
  padding: 1.2rem 0.5rem;
  display: flex;
  align-items: center;
}

.video-item img {
  width: 100%;
  background-size: cover;
}

.video-item {
  margin-top: 2.4rem;
}

.video-item header {
  font: 700 0.9rem Archivo;
  display: block;
  color: #333333;
}